<%- include('partials/head') %>

<div class="container my-4">
    <div class="card">
        <div class="card-header">
            <h5 class="m-0">Actualizar Paciente</h5>
        </div>
        <div class="card-body">
            <form action="/paciente/<%= paciente.id %>?_method=PUT" method="POST" class="row g-3">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" value="<%= paciente.nombre %>" required>
                </div>
                <div class="col-md-6">
                    <label for="apellidos" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos" name="apellidos" value="<%= paciente.apellidos %>" required>
                </div>
                <div class="col-md-4">
                    <label for="fechaDeNacimiento" class="form-label">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" id="fechaDeNacimiento" name="fechaDeNacimiento" value="<%= paciente.fechaDeNacimiento.toISOString().split('T')[0] %>" required>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Actualizar Paciente</button>
                    <a href="/" class="btn btn-secondary ms-2">Volver a la lista</a>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer') %>